<spacer size="32"></spacer>
<row class="notification">
  <columns large="6">
      <img class="float-right" src="https://res.cloudinary.com/newsio/image/upload/c_scale,q_auto:best,w_300/v1488991434/laptop_pl9qlf.png" alt="Bello Platform screenshot">
  </columns>
  <columns large="6" class="content">
    <h4>What is Bello?</h4>
    <p>Bello is an awesome new way to message with your teammates.</p>
    <p>Stop wasting time on meetings and start using Bello to have discussions and share documents.</p>

  </columns>
</row>
